<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>掲示板</title>
    <form class="m-5" method="POST">
      <div class="form-group">
        <label for="">タイトル</label>
        <input type="text" class="form-control" name="text">
      </div>
      <a class="btn btn-success" href="/" role="button">戻る</a>
      <button type="submit" class="btn btn-dark">作成</button>
    </form>
</head>